.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: linear-gradient(to bottom, #d9e8e8, #eef5f5, #ffffff);
}


/* Label styling */
.label {
    -fx-text-fill: #000;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Button styling */
.button, .rounded-button {
    -fx-background-color: linear-gradient(#ffd65b, #febf04);
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 2);
    -fx-cursor: hand;
}

/* Button hover effect */
.button:hover, .rounded-button:hover {
    -fx-background-color: linear-gradient(#febf04, #ffd65b);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 3);
}

/* Hyperlink styling */
.hyperlink {
    -fx-text-fill: #0066cc;
    -fx-underline: true;
}

/* Textfield and input box styling */
.rounded-input {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-height: 40px;
    -fx-padding: 0 10 0 10;
    -fx-font-size: 14px;
    -fx-border-color: #ccc;
}

/* List view styling */
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 10;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #aaa;
    -fx-background-color: #ffffff;
}

.title-label {
    -fx-font-family: "Comic Sans MS", cursive;
    -fx-text-fill: #000;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}


